
@{
    ViewData["Title"] = "First";
}

<h1>First</h1>
<button id="btn1" class="btn btn-secondary">click</button>
<div id="div1" class="border"></div>
@section Scripts{
    @*<script>
        const btn = document.querySelector('#btn1')
        const myDiv = document.querySelector('#div1')
        //步驟一
        const xhr = new XMLHttpRequest();

        btn.addEventListener('click',()=>{
            //myDiv.innerHTML = "Button Click"
            //步驟二 對伺服器發出要求(request)
            xhr.open('GET','/api/index');
            xhr.send();

            //步驟三 接收伺服器回傳的資料
            xhr.addEventListener('load',()=>{
                const data = xhr.responseText

                //步驟四 讀取JSON XML 等需要轉譯的資料
                //步驟五 顯示資料
                myDiv.innerHTML = `<h3>${data}</h3>`
            })
        })
    </script>*@

    <script>
        //步驟一
        const xhr = new XMLHttpRequest();
        $('#btn1').on('click', () => {
            //步驟二 對伺服器發出要求(request)
            xhr.open('GET', '/api/index');
            xhr.send();

            //步驟三 接收伺服器回傳的資料
            xhr.onload = function () {
                const data = xhr.responseText;
                //步驟四 讀取JSON XML 等需要轉譯的資料
                //步驟五 顯示資料
                $('#div1').html(`<h3>${data}</h3>`);
            }
        })
    </script>

}