@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@Html.Partial("partialTest")

@*使用html.partial是直接去view裡面抓partialTest2,沒有經過action,所以Viewbag.message裡面沒有東西*@
@Html.Partial("partialTest2")
<table id="emptable" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>姓名</th>
            <th>年資</th>
            <th>薪資</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts{
    <script>
    $('.display-4').css('color','green')
    </script>

    <script>
        const emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        }
      
        const datas = emp.employees.map(employee=>{
            const { name, workYears, salary } = employee
            return(
            `<tr>
            <td>${name}</td>
            <td>${workYears}</td>
            <td>${salary}</td>
            </tr> `
            )
           
        })
        
        document.querySelector('#emptable>tbody').innerHTML = datas.join("")
    </script>
}


@section Styles{
    <style>
       p{
           background:orange;
       }
    </style>
}
