
@{
    ViewData["Title"] = "Promise";
}

<h1>Promise</h1>

@section Scripts
{
    <script>
        //等1秒印出A，再等1秒印出B，再等1秒印出C(全部印出要3秒鐘)
        //setTimeout(function () {
        //    console.log('A');
        //    setTimeout(function () {
        //        console.log('B');
        //        setTimeout(function () {
        //            console.log('C');
        //        }, 1000);
        //    }, 1000);
        //}, 1000);

        //建立一個叫 printSomrthing 的 function ,使用時會需要一個參數
        function printSomrthing(data){
            //建立Promise物件
            return new Promise((resolve,reject)=>{
                setTimeout(()=>{
                resolve(data + 1)
                },1000)
            })
        }

        //then才可以印出printSomrthing()裡面return的值 
        printSomrthing("A")
        .then( d=>{
            console.log(d)
                return printSomrthing("B")
        })
            //這裡的a去接的是上面return printSomrthing("B")的值"B"
        .then( a=>{
                console.log(a)
                //這邊雖然return printSomrthing("ererwe"),但沒有.then() 所以不會被印出來
                return printSomrthing("ererwe")
            })
      
        
    </script>
}